@tailwind components;
@tailwind utilities;

:root {
  --bg-light: theme('colors.gray.50');
  --text-label: theme('colors.gray.500');
  --text-muted: theme('colors.gray.400');

  --primary: var(--primary-500);
  --primary-foreground: hsl(210 20% 98%);
  --primary-50: hsl(270 100% 97.5%);   /* #faf5ff */
  --primary-100: hsl(270 100% 92.0%);  /* #f3e8ff */
  --primary-200: hsl(270 100% 84.0%);  /* #e9d5ff */
  --primary-300: hsl(270 95% 73.5%);   /* #d8b4fe */
  --primary-400: hsl(270 91.7% 60.4%); /* #c084fc */
  --primary-500: hsl(262.1 83.3% 67.5%); /* #a855f7 */
  --primary-600: hsl(262.1 76.0% 58.2%); /* #9333ea */
  --primary-700: hsl(263.4 69.3% 50.2%); /* #7e22ce */
  --primary-800: hsl(263.5 61.6% 43.9%); /* #6b21a8 */
  --primary-900: hsl(264.4 55.0% 39.0%); /* #581c87 */

  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

:root[data-theme='dark'] {
  --bg-light: theme('colors.slate.800');
  --text-label: theme('colors.gray.400');
  --text-muted: theme('colors.gray.500');

  --primary: var(--primary-400);
  --primary-foreground: var(--primary-900);
}

body {
  margin: 0;
}

label {
  color: var(--text-label)
}

code {
  color: theme('colors.purple.500');
}

.text-ghost {
  color: var(--text-muted);
  font-weight: 300;
  font-size: small;
}

.bg-light {
  background-color: var(--bg-light);
}

.text-muted {
  color: var(--text-muted);
}

.ant-layout-sider .ant-menu-item-icon {
  height: 100%;
}

.ant-layout-sider-collapsed li.ant-menu-item {
  padding: 0 8px;
}

.ant-form-item-label > label {
  color: var(--text-label) !important;
}

.ant-btn-icon {
  display: grid;
  place-items: center;
}

.ant-tabs-tab:not(.ant-tabs-tab-active) {
  color: var(--text-muted);
}
