@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/EBGaramond-Italic.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/SegoeUI.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-light: theme('colors.gray.50');
  --bg-soft: theme('colors.gray.100');
  --border-light: theme('colors.gray.200');
  --border-soft: theme('colors.gray.300');
  --text-label: theme('colors.gray.500');
  --text-muted: theme('colors.gray.400');
  --text-body: theme('colors.gray.800');
  --text-link: theme('colors.blue.500');

  --primary: var(--primary-500);
  --primary-foreground: hsl(210 20% 98%);
  --primary-50: hsl(270 100% 97.5%);
  /* #faf5ff */
  --primary-100: hsl(270 100% 92.0%);
  /* #f3e8ff */
  --primary-200: hsl(270 100% 84.0%);
  /* #e9d5ff */
  --primary-300: hsl(270 95% 73.5%);
  /* #d8b4fe */
  --primary-400: hsl(270 91.7% 60.4%);
  /* #c084fc */
  --primary-500: hsl(262.1 83.3% 67.5%);
  /* #a855f7 */
  --primary-600: hsl(262.1 76.0% 58.2%);
  /* #9333ea */
  --primary-700: hsl(263.4 69.3% 50.2%);
  /* #7e22ce */
  --primary-800: hsl(263.5 61.6% 43.9%);
  /* #6b21a8 */
  --primary-900: hsl(264.4 55.0% 39.0%);
  /* #581c87 */

  /* tailwind teal shades as accent */
  --accent: hsl(174 100% 29.0%);
  /* #0d9488 */
  --accent-foreground: hsl(174 100% 98.0%);
  /* #ecfeff */
  --accent-50: hsl(166 100% 97.0%);
  /* #f0fdfa */
  --accent-100: hsl(167 85.7% 89.2%);
  /* #ccfbf1 */
  --accent-200: hsl(168 84.2% 78.4%);
  /* #99f6e4 */
  --accent-300: hsl(170 77.8% 64.7%);
  /* #5eead4 */
  --accent-400: hsl(172 66.7% 50.6%);
  /* #2dd4bf */
  --accent-500: hsl(173 80.0% 40.0%);
  /* #14b8a6 */
  --accent-600: hsl(174 83.3% 31.4%);
  /* #0d9488 */
  --accent-700: hsl(175 75.0% 25.5%);
  /* #0f766e */
  --accent-800: hsl(176 69.2% 19.6%);
  /* #115e59 */
  --accent-900: hsl(177 80.0% 14.5%);
  /* #134e4a */

  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

:root[data-theme='dark'] {
  --bg-light: theme('colors.slate.800');
  --bg-gray: theme('colors.slate.700');
  --border-light: theme('colors.slate.700');
  --border-soft: theme('colors.slate.600');
  --text-label: theme('colors.gray.400');
  --text-muted: theme('colors.gray.500');
  --text-body: theme('colors.gray.200');
  --text-link: theme('colors.blue.200');

  --primary: var(--primary-400);
  --primary-foreground: var(--primary-900);
}

body {
  margin: 0;
}

p {
  margin: 0.5rem 0;
}

label {
  color: var(--text-label)
}

code {
  color: theme('colors.purple.500');
}

.text-ghost {
  color: var(--text-muted);
  font-weight: 300;
  font-size: small;
}

.bg-light {
  background-color: var(--bg-light);
}

.bg-soft {
  background-color: var(--bg-soft);
}

.border-light {
  border-color: var(--border-light);
}

.border-soft {
  border-color: var(--border-soft);
}

.border {
  border-color: var(--border-light);
  border-style: solid;
}

.text-muted {
  color: var(--text-muted);
}

.text-body {
  color: var(--text-body);
}

.text-link {
  color: var(--text-link);
}

.ant-layout-sider .ant-menu-item-icon {
  height: 100%;
}

.ant-layout-sider-collapsed {
  & li.ant-menu-item {
    padding: 0 8px;
  }

  & li.ant-menu-submenu>.ant-menu-submenu-title {
    padding: 0 8px;
  }
}


.ant-form-item-label>label {
  color: var(--text-label) !important;
}

.ant-btn-icon {
  display: grid;
  place-items: center;
}

.ant-tabs-tab:not(.ant-tabs-tab-active) {
  color: var(--text-muted);
}

.ant-upload {
  overflow: hidden;
}

.badge-md .ant-badge-status-dot {
  width: 8px !important;
  height: 8px !important;
}

.badge-xl .ant-badge-status-dot {
  width: 12px !important;
  height: 12px !important;
}

table .ant-image {
  border-radius: 0.25rem;
  overflow: hidden;
}

.gallery-thumbnails img:hover {
  filter: brightness(1.1) !important;
  transition: all 0.3s ease-in-out;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
